@model Staff_Management.Models.Users
@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-header">
            <h2>Update Profile</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ProfilePage", "Profile", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserId)
                <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="Surname" value="@Model.Surname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="Password" value="@Model.Password">
                </div>
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <label id="salary" class="form-control">@Model.Salary</label>
                </div>
                @Html.HiddenFor(model => model.Type)  <!-- Hidden type field -->
                <div class="mt-4 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    @{
                                                string homeUrl = "";
                                                switch (Model.Type)
                                                {
                                                    case 3:
                                                        homeUrl = Url.Action("Index", "Staff");
                                                        break;
                                                    case 2:
                                                        homeUrl = Url.Action("Index", "GroupAdmin");
                                                        break;
                                                    case 1:
                                                        homeUrl = Url.Action("Index", "SystemAdmin");
                                                        break;
                                                    default:

                                                        break;
                                                }
                    }
                    <a href="@homeUrl" class="btn btn-secondary">Home Page</a>
                </div>
                }
        </div>
    </div>
</div>
