@model IEnumerable<Staff_Management.Models.Tasks>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

        .header .btn {
            margin-left: auto;
        }

    .table {
        margin-top: 20px;
    }
</style>

<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Title</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Status</td>
                    <td>@task.Title</td>
                    <td>
                        <a href="@Url.Action("TaskDetails", "Staff", new { id = task.TaskId })" class="btn btn-primary btn-sm">
                            <i class="fas fa-eye"></i> Görevi Görüntüle
                        </a>
                        <button class="btn btn-success btn-sm" onclick="gorevTamamla(this, @task.TaskId)">
                            <i class="fas fa-check"></i> Görev Tamamlandı
                        </button>
                        <a href="@Url.Action("ReportIssue", "Staff", new { id = task.TaskId })" class="btn btn-warning btn-sm">
                            <i class="fas fa-exclamation"></i> Sorun Bildir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Bootstrap JS ve Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function gorevGoruntule(title, content) {
        const params = new URLSearchParams();
        params.append('title', title);
        params.append('content', content);
        window.location.href = 'gorev.html?' + params.toString();
    }

    function gorevTamamla(button) {
        var row = button.closest('tr');
        row.cells[0].innerText = 'Completed';
        alert('Görev tamamlandı.');
    }

    function sorunBildir(title) {
        const params = new URLSearchParams();
        params.append('title', title);
        window.location.href = 'sorun.html?' + params.toString();
    }
</script>

