@model Staff_Management.Models.Tasks
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h1 id="taskTitle">Report Issue for @Model.Title</h1>
    @using (Html.BeginForm("ReportIssue", "Staff", FormMethod.Post))
    {
    @Html.HiddenFor(model => model.TaskId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Status, new { Value = 3 })
    @Html.HiddenFor(model => model.StaffId)
    @Html.HiddenFor(model => model.Contents)
    <div class="form-group">
        <label for="issueContent"><strong>Issue</strong></label>
        <textarea class="form-control" id="taskComment" name="Comment" rows="5" style="resize: none;">@Model.Comment</textarea>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary me-lg-2">Send</button>
        <a href="/Staff/Index" class="btn btn-secondary">Home Page</a>
    </div>
    }
</div>