@model IEnumerable<Staff_Management.Models.Users>

@{
    ViewBag.Title = "AdjustSalaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("SystemAdminNav")

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Adjust Salaries</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Score</th>
                        <th>Salary</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                            <td>@Html.DisplayFor(modelItem => item.Score)</td>
                            @using (Html.BeginForm("UpdateSalary", "SystemAdmin", FormMethod.Post))
                            {
                                <td>

                                    @Html.Hidden("userId", item.UserId)
                                    <input type="number" name="newSalary" class="form-control" value="@item.Salary" />
                                </td>
                                <td>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-sm form-control">
                                            <i class="fas fa-save"></i> Save
                                        </button>
                                    </div>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>



        </div>
    </div>
</div>