@model IEnumerable<Staff_Management.Models.Users>

<div class="container mt-5">
    <div id="createEditUserContent">
        <h2>Create & Edit User</h2>

        <button class="btn btn-success mb-3" onclick="toggleAddUserForm('AddUser')">New</button>

        <div id="addUserFormContainer" style="display: none;">
            
            @using (Html.BeginForm("AddUser", "SystemAdmin", FormMethod.Post, new { id = "userForm" }))
            {
                @Html.Hidden("UserId", null, new { id = "userId" })

                <div class="card mt-4">
                    <div class="card-header">
                        <h3 id="formTitle">Add New User</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mt-2">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="Name" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="Surname" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="Email" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="Password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mt-2">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="Title" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="Type">User Type</label>
                                    <select class="form-control" id="type" name="Type" required>
                                        <option value="1">System Admin</option>
                                        <option value="2">Group Admin</option>
                                        <option value="3">Staff</option>
                                    </select>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="salary">Salary</label>
                                    <input type="number" class="form-control" id="salary" name="Salary" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button id="formButton" type="submit" class="btn btn-primary">Add User</button>
                    </div>
                </div>
            }
        </div>
        <ul class="list-group mb-4">
            @foreach (var user in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @user.Name @user.Surname
                    <button class="btn btn-secondary" onclick="editUser('@user.UserId', '@user.Name', '@user.Surname','@user.Email','@user.Title', '@user.Type','@user.Salary','@user.Score')">Edit</button>
                </li>
            }
        </ul>

    </div>
</div>

<script>
    function toggleAddUserForm(actionName) {
        var addUserFormContainer = document.getElementById('addUserFormContainer');
        var formTitle = document.getElementById('formTitle');
        var formButton = document.getElementById('formButton');
        var form = document.getElementById('userForm');

        if (addUserFormContainer.style.display === 'none') {
            addUserFormContainer.style.display = 'block';
        } else if (formTitle.innerHTML != 'Edit User') {
            addUserFormContainer.style.display = 'none';
        }

        if (actionName === 'AddUser') {
            form.action = '@Url.Action("AddUser", "SystemAdmin")';
            formTitle.innerText = 'Add New User';
            formButton.innerText = 'Add User';
            document.getElementById('userId').value = '';
            document.getElementById('firstName').value = '';
            document.getElementById('lastName').value = '';
            document.getElementById('email').value = '';
            document.getElementById('password').value = '';
            document.getElementById('confirmPassword').value = '';
            document.getElementById('title').value = '';
            document.getElementById('type').value = '';
            document.getElementById('salary').value = '';
        }
    }

    function editUser(userId, firstName, lastName, email, title, userType, salary, score) {

        var form = document.getElementById('userForm');
        var addUserFormContainer = document.getElementById('addUserFormContainer');
        var formTitle = document.getElementById('formTitle');
        var formButton = document.getElementById('formButton');

        formTitle.innerText = 'Edit User';
        formButton.innerText = 'Update User';

        if (addUserFormContainer.style.display === 'none') {
            addUserFormContainer.style.display = 'block';
        } else if (formTitle.innerHTML == 'Edit User' && document.getElementById('email').value == email) {
            addUserFormContainer.style.display = 'none';
        }
        form.action = '@Url.Action("UpdateUser", "SystemAdmin")';


        document.getElementById('userId').value = userId;
        document.getElementById('firstName').value = firstName;
        document.getElementById('lastName').value = lastName;
        document.getElementById('email').value = email;
        document.getElementById('password').value = ''; // Password fields should remain empty for security
        document.getElementById('confirmPassword').value = ''; // Password fields should remain empty for security
        document.getElementById('title').value = title;
        document.getElementById('type').value = userType;
        document.getElementById('salary').value = salary;


    }
</script>
