
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Staff_Management.Models.Users>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Admin - Adjust Salaries</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .nav-buttons {
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            gap: 10px;
        }

            .nav-buttons .btn {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    </style>
</head>
<body>
    <div class="nav-buttons">
        <a href="profile.html" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
        <a href="sorun.html" class="btn btn-secondary"><i class="fas fa-arrow-right"></i></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">System Admin</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" href="profile.html"><i class="fas fa-user"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-white ml-2" href="#"><i class="fas fa-sign-out-alt"></i> Quit</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row mb-4">

            <div class="col-md-4">
                <a href="assign_staff.html" class="btn btn-info btn-block"><i class="fas fa-users"></i> Assign Staff</a>
            </div>
            <div class="col-md-4">
                <a href="create_edit_user.html" class="btn btn-info btn-block"><i class="fas fa-user-edit"></i> Create & Edit User</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Adjust Salaries</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Score</th>
                            <th>Salary</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody
                        @foreach (var model in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelitem => model.Type)</td>
                                <td>@Html.DisplayFor(modelitem => model.Name)</td>
                                <td>@Html.DisplayFor(modelitem => model.Surname)</td>
                                <td>@Html.DisplayFor(modelitem => model.Score)</td>
                                <td>@Html.TextBoxFor(modelitem => model.Salary, new { @class = "form-control" })</td>
                                <td><button class="btn btn-primary btn-sm" id="saveButton"><i class="fas fa-save"></i> Save</button></td>
                            </tr>

                        }
                        
                        <tr>
                            <td>Part-Time</td>
                            <td>Jane</td>
                            <td>Smith</td>
                            <td>90</td>
                            <td><input type="number" class="form-control" value="30000"></td>
                            <td><button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Save</button></td>
                        </tr>
                        <!-- Additional rows can be added here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

