<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Staff Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .body-content {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content-wrapper {
            flex: 1;
        }

        footer {
            width: 100%;
            height: 60px;
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 10px;
            position: relative;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div class="body-content">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand btn-lg" href="">Group Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto"></ul>
                    <a class="btn btn-primary btn-lg m-lg-2" href="@Url.Action("Profile", "Staff")">
                        <i class="fas fa-user"></i> Profile
                    </a>
                    <a class="btn btn-danger btn-lg" href="@Url.Action("Login", "Account")">
                        <i class="fas fa-sign-out-alt"></i> Quit
                    </a>
                </div>
            </div>
        </nav>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="text-md-start justify-content-between py-4 px-4 px-xl-5">
            &copy; @DateTime.Now.Year - Staff Management
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
        string navText = "Default Text";
        string hrefText = "Default Text";

        switch (controllerName)
        {
            case "GroupAdmin":
                navText = "Group Admin";
                hrefText = "/GroupAdmin/Index";
                break;
            case "Staff":
                navText = "Staff";
                hrefText = "/Staff/Index";
                break;
            case "SystemAdmin":
                navText = "System Admin";
                hrefText = "/SystemAdmin/Index";
                break;
            default:
                navText = "Default Text";
                hrefText = " ";
                break;
        }
    }
    <script>
        document.querySelector('.navbar-brand').innerText = '@navText';
        document.querySelector('.navbar-brand').href = '@hrefText';
    </script>
</body>
</html>

@using (Html.BeginForm("AddUser", "SystemAdmin", FormMethod.Post, new { id = "userForm" }))
{
    @Html.Hidden("UserId", null, new { id = "userId" })

    <div class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">Add User</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="Name" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="Surname" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="Email" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="Password" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="Title" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="Type">User Type</label>
                        <select class="form-control" id="type" name="Type" required>
                            <option value="1">System Admin</option>
                            <option value="2">Group Admin</option>
                            <option value="3">Staff</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" name="Salary" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button id="formButton" type="submit" class="btn btn-primary">Add User</button>
        </div>
    </div>
}
