<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Staff Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand btn-lg" href="#">Group Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto"></ul>
                <button class="btn btn-primary btn-lg" type="button">Profile</button>
                <button class="btn btn-danger btn-lg" type="button">Quit</button>
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <footer style="position:absolute; bottom: 0; width: 100%;">
            <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
                <!-- Copyright -->
                <div class="text-white mb-3 mb-md-0">
                    &copy; @DateTime.Now.Year - Staff Management
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
        string navText = "Default Text";

        switch (controllerName)
        {
            case "GroupAdmin":
                navText = "Group Admin";
                break;
            case "Staff":
                navText = "Staff";
                break;
            case "SystemAdmin":
                navText = "System Admin";
                break;
            default:
                navText = "Default Text";
                break;
        }
    }
    <script>
        document.querySelector('.navbar-brand').innerText = '@navText';
    </script>
</body>
</html>
