
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<section class="vh-100">

    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken() <!-- Include Anti-Forgery Token -->
                    if (ViewBag.LoginMessage != null)
                    {
                            <div class="alert alert-warning font-weight-bold mb-0" role="alert">
                                @ViewBag.LoginMessage
                            </div>
                    }

                    <h1 class="text-primary">Staff Management</h1>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email address</label>

                        @Html.TextBox("email", null, new { @class = "form-control form-control-lg", maxlength = "50", @placeholder = "Email", required = "required", type = "email", title = "Please enter email." })
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Password</label>
                        @Html.Password("password", null, new { @class = "form-control form-control-lg", maxlength = "10", @placeholder = "Password", required = "required" })
                    </div>

                    <div class="d-flex justify-content-between align-items-center">

                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <a href="@Url.Action("Index", "Home") class="text-body">Forgot password?</a>
                    </div>
                }
            </div>
        </div>
    </div>

</section>